<a href="https://colab.research.google.com/github/iishaii/Phyton-workshop/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) Enter number 4
*
* *
* * *
* * * *
'''

In [1]:
n=4;
for i in range(n+1):
    for j in range(i):
        print ('*', end=" ")
    print('')

*
* *
* * *
* * * *

#2) Write a program to print the triangle

n=4
1
2    3
3    4   5
4    5   6   7
'''

In [2]:
n=4;
for i in range(0,n+1):
  j=i
  for k in range(i):    
    print(j,end=" ")
    j+=1

  print("")

1
2 3
3 4 5
4 5 6 7

#3) Enter number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''

In [3]:
n=5
for i in range(n+1,1,-1):
  i-=1
  for j in range(i,n+1):
        print(j, end=" ")
        j+=1
  print('')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#

#4)Enter number 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''

In [4]:
n=5
for i in range(n+1,0,-1):
  
  for j in range(1,i):
    j=i-1
    print(j, end=" ")
    i-=1
  print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#5)Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4
'''

In [5]:
n=4;

for i in range(0,n,1): 
  for j in range(i+1,n+1,1):     
    print(j,end=" ")
  print("") 

for i in range(n-1,0,-1): 
  for j in range(i,n+1):     
    print(j,end=" ")
  print(" ")

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

#6)Find the length of a string without using len functions

In [6]:
string=input("Enter the string:")
print("The length of string:",len(string))

Enter the string:isha
The length of string: 4

#7)Find the no of words and characters in a string
'''

In [7]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:ishha hegde
Number of words in the string:
2
Number of characters in the string:
11

#8)Find the no of occurrences of a word in a string
'''

In [8]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}